schemas/diet_tracker.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:vse:4iz238:chav07:sp:diet_tracker"
           xmlns="urn:vse:4iz238:chav07:sp:diet_tracker"
           elementFormDefault="qualified">

    <!-- Schema for diet_tracker XML -->
    <!-- Fill in the schema definitions here -->
    <xs:element name="diet_tracker" type="diet_tracker_type"/>
       
     <!-- Diet tracker type -->
    <xs:complexType name="diet_tracker_type">
        
        <xs:sequence>
            <xs:element name="user" type="user_type"/>
        </xs:sequence>
        <xs:attribute name="version" use="required" type="version_type"/>
        
    </xs:complexType>
    
    <!-- Version type -->
    <xs:simpleType name="version_type">
        <xs:annotation>
            <xs:documentation>
                The version must be in simplified SemVer major.minor format (i.e. 1.1, 3.2, etc.).
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\d+\.\d+"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- user type -->
    <xs:complexType name="user_type">
        <xs:sequence>
            <xs:element name="name" type="user_name_type"/>
            <xs:element name="email" type="user_email_type"/>
            <xs:element name="date_of_birth" type="xs:date"/>
            <xs:element name="sex" type="sex_type"/>
            <xs:element name="current_state" type="current_state_type"/>
            <xs:element name="long_term_goals" type="long_term_goals_type"/>
            <xs:element name="daily_logs" type="daily_logs_type"/>
        </xs:sequence> 
        <!-- user ID attribute -->
        <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
    </xs:complexType>
    
    <!-- user name type -->
    <xs:simpleType name="user_name_type">
        <xs:annotation>
            <xs:documentation>
                The name of the user. Must contain at least one non-whitespace character.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value=".*\S.*"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- user email type -->
    <xs:simpleType name="user_email_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- sex type -->
    <xs:simpleType name="sex_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="male"/>
            <xs:enumeration value="female"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- current state type -->
    <xs:complexType name="current_state_type">
        <xs:sequence>
            <xs:element name="height" type="si_value_type"/>
            <xs:element name="weight" type="si_value_type"/>
        </xs:sequence>
    </xs:complexType>
    
    
    <!-- Universal SI unit value type -->
    <xs:simpleType name="si_value_type">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Long term goals type -->
    <xs:complexType name="long_term_goals_type">
        <xs:sequence>
            <xs:element name="weight" type="si_value_type"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="daily_logs_type">
        <xs:sequence>
            <xs:element name="daily_log" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
